<ion-view view-title="Dashboard" class="bgd-color">
  <ion-content class="">
    <div class="wrapper" ng-click="goArea()">
      <div class="container">
        <div class="top-content">
          <p class="tap-to-enter">Tap to Enter</p>
          <div class="homescreen-logo">
        </div>
        <div class="description">
          <p class="upper-desc">This application allows you to lodge complaint in District Forums (Complaints involving cost and compensation less than 20 lac Rs.) from anywhere and at anytime. It also provides you rules, important tips about different products and services. 
          </p>
          <p class="all-the-best">All for free!</p>
        </div>
        </div>
        </div>
      </div> 
    </div>      
  </ion-content>
</ion-view>
